<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todo_item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todo_item.description %>
</p>

<p>
  <strong>Important:</strong>
  <%= @todo_item.important %>
</p>

<p>
  <strong>Urgent:</strong>
  <%= @todo_item.urgent %>
</p>

<p>
  <strong>Done:</strong>
  <%= @todo_item.done %>
</p>

<%= link_to 'Edit', edit_todo_item_path(@todo_item) %> |
<%= link_to 'Back', todo_items_path %>
